html, body, #root, .App {
  width: 100%;
  height: 100%
}

.ripple-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cell {
  margin: 1px;
  flex-grow: 0;
  flex-shrink: 0;
}


.color1 {
  background-color: #4d8e61
}

.color2 {
  background-color: #454e75
}
